.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background: aliceblue;
    gap: 2rem;
}

.interactionContainer {
    text-align: center;
}

.listContainer {
    text-align: center;
    padding: 2rem;
    background: white;
}
