.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background: aliceblue;
    gap: 2rem;
}

.productContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border: 1px solid lightgray;
    background: white;
}

.productHeading {
    text-align: center;
}

.productPrice {
    text-align: left;
}
